[Search]
# Range of mid, default as 2000
map size = 2000

# User's card number in asphyxia's website (or database), a 16 bit long hex number sequence
card num = 


[Directory]
# Directory of sdvx@asphyxia's database
# eg. db path = C:\MUG\asphyxia-core\savedata\sdvx@asphyxia.db
db path = 

# Directory of sdvx HDD data
# eg. game path = C:\MUG\SDVX6\KFC-2021051802\contents\data
game path = 

# Directory where outputs pictures
output path = 


[Plot]
# name of skin, default as "gen6" (actually there is no other choice)
skin name = gen6
# supported languages:[EN (English), ZH (Simplified Chinese)], default as EN
language = EN


[Init]
# If you want to update manually, set the value to "False" or "0"
is initialized = False

# Current game version in ea3-config, you can leave it as "00000000", it will be filled automatically.
version = 0000000000
